<app-header titulo="Regístrate"></app-header>

<ion-content>
  <form [formGroup]="registrarFormu" (ngSubmit)="registar(registrarFormu.value)">

    <ion-item lines="full">
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" formControlName="nombres" required></ion-input>
      <span *ngIf="registrarFormu.controls.nombres.invalid && registrarFormu.controls.nombres.touched"
        [ngStyle]="{'color' : 'red'}">
        {{obtenerMensajeNombres()}} </span>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" formControlName="apellidos" required></ion-input>
      <span *ngIf="registrarFormu.controls.apellidos.invalid && registrarFormu.controls.nombres.touched" 
      [ngStyle] ="{'color' : 'red'}">
        {{obtenerMensajeApellidos()}} </span>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
      <span *ngIf="registrarFormu.controls.email.invalid && registrarFormu.controls.nombres.touched" 
      [ngStyle] ="{'color' : 'red'}">
        {{obtenerMensajeEmail()}} </span>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena" required></ion-input>
      <span *ngIf="registrarFormu.controls.contrasena.invalid && registrarFormu.controls.nombres.touched" 
      [ngStyle] ="{'color' : 'red'}">
        {{obtenerMensajeContrasena()}} </span>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
        [disabled]="!registrarFormu.valid">Regístrese</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>