<ion-header>
  <ion-toolbar class="container">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="container">

  <h1 class="ion-text-center ion-text-uppercase title">Mi menu</h1>

  <ion-slides [options]="slideOps">
    <ion-slide *ngFor="let author of authors" class="ion-padding">
      <ion-avatar (click)="showBooks(author)">
        <img src="{{author.photo}}"/>
        <span class="title">{{author.name}}</span>
      </ion-avatar>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card color="primary" (click)="goToAuthors()">
          <ion-card-header>
            <ion-card-title>Autores</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="people-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="primary" (click)="goToBooks()">
          <ion-card-header>
            <ion-card-title>Libros</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="book-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card color="primary" (click)="goToMyFavorites()">
          <ion-card-header>
            <ion-card-title>Favoritos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="primary"  (click)="goToTopBooks()">
          <ion-card-header>
            <ion-card-title>Top 10</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-icon name="list-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
