<app-header titulo=""></app-header>

<ion-content class="container ion-padding">
    <h1 class="ion-text-center title">Iniciar sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" required></ion-input>
            <span *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched"
            [ngStyle] ="{'color' : 'red'}">
              {{getEmailMessage()}} </span>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
            <span *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched"
            [ngStyle] ="{'color' : 'red'}">
              {{getPasswordMessage()}} </span>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block" [disabled]="!loginForm.valid">
                    Iniciar sesión</ion-button>
                <!--<a [routerLink]="['/recuperar-contrasena']" class="small-text">¿Olvidaste tu contraseña?</a>-->
            </ion-col>
        </ion-row>
    </form>
</ion-content>
