.slide-full {
  height: 100%;
  --bullet-background-active : var( --color-slide)

}

ion-card {
  height: 400px;
  width: 300px;

}

.slide-image {
  width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-style: var(--font-primary);
  font-size: 22px;
  position: relative;
  text-align: center;
  margin: 10%;
  color: #FFF;
  top: auto;
}

ion-card-header {
  position: relative;
  padding: auto;
  top: -10px;
}

ion-card-title{
  font-size: 25px;
}

ion-card-content {
  font-style: var(--font-primary);
  text-align: justify center;
  position: relative;
  top: -11px;
}

.container{
  display: block;
  max-width: 100%;
}
