<app-header titulo="" (click)="finish()"></app-header>

<ion-content class="container">
  <h1 class="ion-text-center title">Bienvenido a tu Biblioteca</h1>
  <div class="containerDiv">
    <ion-slides class="slide-full" pager="true" [options]="slideOpt">
      <ion-slide *ngFor="let slide of arraySlides">
        <ion-card mode="ios">
          <img [src]="slide.imagen" class="slide-image">
          <ion-card-header>
            <ion-card-title> {{slide.titulo}} </ion-card-title>
          </ion-card-header>
          <ion-card-content> {{slide.descripcion}} </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
